body{
    margin-top:  50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

/* table{
    border-spacing: 30px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

th, td {
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
} */
