html {
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
  }
  
  table {
    border-collapse: collapse;
    width:200%;
    margin-left: 10%;
  }
  
  thead tr > th { 
    background:#ccc;
    position: sticky;
    padding:.5rem;
    z-index:2;
    top: 0;
  }
  
  thead tr > :first-child {    
    z-index:3;
    left:0;
    top:0;
  }
  
  td {
    /*text-align:center;*/
    text-align:left;
  }  

  tbody tr > :first-child {
    background:#ddd;
    position: sticky;
    z-index:1;
    left:0;
  }

  body {

    margin-top:  50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    flex-direction:column;
    display:flex;
    height:100vh;
  }
